h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkturquoise;    
}
h2, h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(47, 194, 28);
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.articolo{
    background-color: rgb(223, 27, 27);
}
.articolo1{
    background-color: blue;
}
.articolo2{
    background-color: rgba(255, 255, 0, 0.705);
}
body{
    background-image: url(https://picsum.photos/2000);
}

;